@font-face {
  font-family: 'BWHaasHead';
  src: url("../fonts/bwhaasgroteskhead-95black.eot?#iefix") format("eot"), url("../fonts/bwhaasgroteskhead-95black.woff") format("woff"), url("../fonts/bwhaasgroteskhead-95black.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
