#logo {
  padding-top:5%;
  padding-left:5%;
  background-color: none;
}

.name {
  color:#000;
  text-decoration:none;
  border-bottom: none;
  font-size: 8.5em;
  font-weight: bold;
  font-family: 'BWHaasHead', Helvetica;
  text-align: center;
  animation: text-3d-animation 5s linear infinite;
}
